.container {
	height: 100vh;
	overflow: hidden;

	.ticker {
		width: 144px;
		margin: 0 auto;
		position: relative;

		ul {
			display: grid;
			// max-width: 144px;
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			// animation: marquee 6s linear infinite;
			width: 144px;
			overflow: hidden;

			li {
				color: #0061FF;
				font-size: 144px;
				text-transform: uppercase;
				writing-mode: tb-rl;
				writing-mode: vertical-rl;
				-webkit-writing-mode: tb-rl;
				text-orientation: upright;

				// word-break: break-word;
				width: 144px;
				margin-bottom: 3rem;
				text-shadow: 0 0 5px rgba(6,113,255,0.15), 0 0 10px rgba(6,113,255,0.15), 0 0 20px rgba(6,113,255,0.25), 0 0 30px rgba(6,113,255,0.15), 0 0 40px rgba(6,113,255,0.35), 0 0 25px rgba(6,113,255,0.35), 0 0 25px rgba(6,113,255,0.35);

				b { font-weight: normal; }
			}
		}
	}
}
