@font-face {
  font-family: "Subway Ticker";
  src: url("/fonts/Subway Ticker.ttf") format("truetype"), url("/fonts/Subway Ticker.eot") format("embedded-opentype"), url("/fonts/Subway Ticker.woff") format("woff"), url("/fonts/Subway Ticker.svg") format("svg"); }

body {
  background-color: black;
  font-family: "Subway Ticker";
  margin: 0;
  height: 100%; }

html {
  height: 100%;
  min-height: 100%; }

.container {
  height: 100vh;
  overflow: hidden; }
  .container .ticker {
    width: 144px;
    margin: 0 auto;
    position: relative; }
    .container .ticker ul {
      display: grid;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
      width: 144px;
      overflow: hidden; }
      .container .ticker ul li {
        color: #0061FF;
        font-size: 144px;
        text-transform: uppercase;
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-writing-mode: tb-rl;
        text-orientation: upright;
        width: 144px;
        margin-bottom: 3rem;
        text-shadow: 0 0 5px rgba(6, 113, 255, 0.15), 0 0 10px rgba(6, 113, 255, 0.15), 0 0 20px rgba(6, 113, 255, 0.25), 0 0 30px rgba(6, 113, 255, 0.15), 0 0 40px rgba(6, 113, 255, 0.35), 0 0 25px rgba(6, 113, 255, 0.35), 0 0 25px rgba(6, 113, 255, 0.35); }
        .container .ticker ul li b {
          font-weight: normal; }

/* Make it move! */
@keyframes marquee {
  0% {
    top: 8em; }
  100% {
    top: -11em; } }
